
}
}/* Write some CSS below */

body {
  font-family: Roboto;
  margin: 8;
}

h1, h2, h3 {
  color: #404042;
  font-family: Roboto;
  text-align: center;
}

p {
  color: #404042;
  opacity: 100;
}

.container {
  width: 800px;
  margin: auto;
}

.banner {
  background-image: url('images/lillelogo.png');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-weight: 200;
  font-size: 24px;
}

.button-white {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 16px 48px;	
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-white:hover {
  background-color: #0D1EC6;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 230px;
  text-align: center;
  padding: 8px;
  margin: 8px;
  text-align: 
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-white h3 {
  margin-bottom: 1;
}

.footer {
  background: #D4B499;
  font-family: helvetica;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: #A45D5D	;
  font-weight: bold;
  font-family: "sans serif";
  font-size: 20px;
}

.font-light {
	font-weight: 300;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 110px;
  margin:  8px;
  margin-bottom: 30px;
  align-content: center;
  justify-content: center

}

  @media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }

  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }



@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
